---
import { getPosts } from "../../../lib/api";
const { slug } = Astro.params;
import Layout from "~/layouts/Layout.astro";

let res = await fetch(
    `https://www.contactmonkey.com/wp-json/wp/v2/posts/?slug=${slug}&_embed`
);
let [post] = await res.json();

export async function getStaticPaths() {
    let posts = await getPosts();
    return posts.map((post) => {
        return {
            params: { slug: post.slug },
            props: {
                title: post.title.rendered,
                excerpt: post.excerpt.rendered,
                author: post.yoast_head_json.author,
                content: post.content.rendered,
                image: post.yoast_head_json.og_image.url,

                // Spreading the Custom Fields into a meta object
                meta: {
                    ...post.acf,
                },
            },
        };
    });
}

const { title, author, excerpt, content, image, meta } = Astro.props;
---

<Layout title={title}>
    <div class="bg-white px-6 py-32 lg:px-8">
        <figure class="bg-white flex justify-center rounded-sm">
            <!-- <img src={image} alt={title} /> -->
            <img
                src={post._embedded["wp:featuredmedia"]["0"].media_details.sizes
                    .large.source_url}
            />
        </figure>
        <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
            <!-- <p class="text-base font-semibold leading-7 text-cmky-600">Introducing</p> -->
            <h1 class="mt-2 text-3xl font-bold text-gray-900 sm:text-4xl">
                {title}
            </h1>
            <p class="mt-6 text-xl leading-8">{excerpt}</p>
            <div class="mt-10 max-w-2xl">
                <article class="text-ellipsis overflow-hidden lg:p-3 prose">
                    <Fragment set:html={content} />
                </article>
            </div>
        </div>
    </div>
</Layout>
