---
import Card from "../Card.astro";
import PageHeader from "../PageHeader.astro";
import PostCard from "../PostCard.astro";

const { node } = Astro.props;
---

<PageHeader>
    <!-- Display categories links if node has terms -->
    <Fragment slot="eyebrow"
        >{
            node.categories
                ? node.categories.nodes.map((category) => (
                      <a class="term-link" href={category.uri}>
                          {category.name}
                      </a>
                  ))
                : null
        }</Fragment
    >
    <Fragment slot="title">{node.name}</Fragment>
    <!-- Only show date if node is a Post -->
    <Fragment slot="subtitle"
        >{
            node.__typename === "Post" ? (
                <p class="post-details">
                    Posted on{" "}
                    <time datetime={node.date}>
                        {new Date(node.date).toLocaleDateString()}
                    </time>
                </p>
            ) : null
        }</Fragment
    >
</PageHeader>

<div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div
            class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3"
        >
            {
                node.posts.nodes.map((post) => {
                    return <Card post={post} />;
                })
            }

            <!-- More posts... -->
        </div>
    </div>
</div>
