---
import PageHeader from "../PageHeader.astro";

const { node } = Astro.props;
---

<PageHeader>
    <!-- Display categories links if node has terms -->
    <Fragment slot="eyebrow"
        >{
            node.categories
                ? node.categories.nodes.map((category) => (
                      <a class="term-link" href={category.uri}>
                          {category.name}
                      </a>
                  ))
                : null
        }</Fragment
    >
    <Fragment slot="title">{node.title}</Fragment>
    <!-- Only show date if node is a Post -->
    <Fragment slot="subtitle"
        >{
            node.__typename === "Post" ? (
                <p class="post-details">
                    Posted on{" "}
                    <time datetime={node.date}>
                        {new Date(node.date).toLocaleDateString()}
                    </time>
                </p>
            ) : null
        }</Fragment
    >
</PageHeader>

<div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
    <div class="mt-10 max-w-2xl">
        <p>Single template - {node.__typename} Typename</p>
        <img
            class="featured-image"
            src={node.featuredImage?.node?.mediaItemUrl}
            srcset={node.featuredImage?.node?.srcSet}
            alt={node.featuredImage?.node?.altText}
            loading="lazy"
            width={node.featuredImage?.node?.mediaDetails?.width}
            height={node.featuredImage?.node?.mediaDetails?.height}
        />
        <article
            class="text-ellipsis overflow-hidden lg:p-3 prose prose-stone prose-h2:text-3xl prose-h2:tracking-wide"
            set:html={node.content}
        />
    </div>
</div>
