---
import "~/assets/base.css";
import Footer from "~/components/Footer.astro";
import Navbar from "~/components/Navbar.astro";
import PostCard from "~/components/PostCard.astro";
import { homePagePostsQuery, navQuery } from "lib/api2";
const { menus, generalSettings } = await navQuery();
import SiteNav from "~/components/SiteNav.astro";
export interface Props {
    title: string;
}
const data = await homePagePostsQuery();
const posts = data.posts.nodes;
const { title, description } = Astro.props;
const primaryMenu = menus.nodes[0];
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{`${title} | ${generalSettings.title}`}</title>
        <meta name="description" content={description} />
    </head>
    <body>
        <SiteNav menu={primaryMenu} generalSettings={generalSettings} />
        <main class="min-h-screen flex flex-col">
            <slot />
        </main>

        <Footer />

        <!-- <h2>Recent Posts</h2>
        {
            posts.map((post) => {
                return <PostCard post={post} />;
            })
        } -->
    </body>
</html>

<script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"
></script>
